*{
    margin: 0px;
    padding: 0px;
}

.main-cnt{
    width: 100%;
    height: 100%;
}

.nav-header-cnt{
    width: 90.3%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 106px;
    display: flex;
    align-items: center;
    padding-left: 9.7%; 
}


.nav-header-txt-cnt{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;


}

.header-txt-emp{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #82A70C;
    text-transform: capitalize;
}

.header-txt-pay{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
}

.main-dashborad-cnt{
    width: 80%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    padding-left: 9.7916%;
    padding-right: 9.531%;
    height: calc(100vh - 106px);
}

.dashborad-head-txt-cnt{
    display: flex;
    gap:10px;
    text-align: left;
    font: normal normal bold 28px/25px Roboto;  
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}
.main-dashborad-head-cnt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 147px;
}


.main-dashborad-head-cnt-one {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 30px;
    visibility:hidden;
    input{
        height: 25px;
        width: 950%;
    }
}
.search-inp-cnt{
    display: flex;
    width:20%;
    height: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #BDBDBD; */
    border-radius: 3px;
    opacity:1;
    i{
        font-size: 30px;
        background: none;
        border: none;
    }
    i:hover{
        transform: translateY(2px);
    }
    i:active{
        transform: translateY(2px);
    }
}

.fa-times-circle{
    height: 29px;
    border: none;
    background: none;
}

.dashborad-head-options-cnt{
    width: 35.33%;
    height: 56px;
    display: flex;
    gap: 1.3557%;
    align-items: center;
}

.dashborad-head-options-search{
    width: 75.44%;
    height: 40px;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    /* box-shadow: 0px 1px 3px #00000029; */
    /* border-radius: 28px; */
    /* opacity: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    i{
        font-size: 30px;
    }
    i:hover{
        transform: translateY(2px);
    }
    i:active{
        transform: translateY(2px);
    }
    input{
        height: 100%;
    }
}



.dashborad-head-options-adduser-cnt{
    width: 70.25%;
    height: 55px;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashborad-head-options-adduser-cnt:hover{
    background-color: #678504 ;
}
.dashborad-head-options-adduser-cnt:active{
    background-color: #678504 ;
    transform: translateY(4px);
}

.options-adduser-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.dashborad-head-options-adduser-plus{
    width: 10.99%;
    height: 24px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: white;
    }
}

.dashborad-head-options-adduser-txt{
    width: 85.39%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        text-align: left;
        font: normal normal normal 15px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
}
.main-dashborad-body-cnt{
    width: 100%;
}

table{
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #E3E3E3;
    border-collapse: collapse;
    
}


table thead{
    width: 100%;
    height: 67px;
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    border-collapse: collapse;
    opacity: 1;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#profile-logo{
    width: 7.165%;
}
#dashborad-head-name{
    text-align: left;
    width: 27.372%;
}
#dashborad-head-gender{
    width: 16.13%;
    text-align: left;
}
#dashborad-head-dep{
    width: 19.88%;
    text-align: left;
}
#dashborad-head-salary{
    width: 11.103%;
    text-align: left;
}
#dashborad-head-startd{
    width: 10.65%;
    text-align: left;
}
#dashborad-head-action{
    width: 7.61%;
    text-align: left;
}

#reading1-img{
    padding-left:2.1%;
    img{
        width: 56%;
        background: transparent url('img/Ellipse 1.png') 0% 0% no-repeat padding-box;
        opacity: 1;
    }
}

#reading1-dep{
    padding-top: 9px;
    display: flex;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    align-items: center;
    gap: 2%;
    p{
        text-decoration: none;
        background: #E9FEA5 0% 0% no-repeat padding-box;
        border-radius: 13px;
        opacity: 1;
        text-align: left;
        font: normal normal normal 14px Roboto;
        letter-spacing: 0px;
        color: #3D3D3D;
        text-transform: capitalize;
        opacity: 1;
    }
}

#reading1-actions{
    display: flex;
    gap: 50%;
    i{
        color: #658292;
    }
    i:hover{
        color: #4ea2cf;
    }
    i:active{
        transform: translateY(2px)
    }
}
#message-display{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

@media only screen and (min-width : 601px) and (max-width : 1000px) {
    .dashborad-head-options-cnt {
        width: 50%;
    }
    tbody tr{
        font-size: 10px;
    }
    .dashborad-head-txt-cnt {
        font-size: 20px;
    }

    .main-dashborad-head-cnt {
        height: 90px;
    }

    .dashborad-head-options-search {
        height: 35px;
    }

    .dashborad-head-options-adduser-cnt {
        height: 40px;
    }

    #table thead {
        height: 45px;
        p{
            font-size: 9px;
        }
    }
}

@media only screen and (min-width:300px) and (max-width:600px){
    .nav-header-cnt {
        height: 80px;
    }
    
    .header-txt-emp {
        font-size: 15px;
    }

    .header-txt-pay {
        font-size: 15px;
    }
    
    .dashborad-head-txt-cnt {
        font-size: 15px;
    }

    .main-dashborad-head-cnt {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 90px;
    }

    .dashborad-head-options-adduser-cnt {
        height: 25px;
        width: 45%;
    }

    .dashborad-head-options-cnt {
        width: 100%;
        gap: 4%;
    }

    .dashborad-head-options-adduser-plus {
        font-size: 11px;
    }

    .dashborad-head-options-adduser-txt {
        a {
            font-size: 11px;
        }
    }


    .dashborad-head-options-search {
        padding: 1px;
        height: 25px;
        display: flex;
        align-items: center;
        input {
            height: 70%;
            width: 100%;
        }
        i {
            font-size: 20px;
        }
    }
    #table-head{
        height: 35px;
        p{
            font-size: 5px;
        }
    }
    tr{
        font-size: 7px;
    }
    #reading1-dep {
        padding-top: 5px;
        p {
            font-size: 7px;
        }
    }
        
}